.form_wrapper {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.form_field {
    width: 100%;
}

.password_checkers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .checker {
        background: rgb(118, 112, 112);
        width: 70px;
        height: 10px;
    }
}