.form_wrapper {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.form_field {
    width: 100%;
}

.checkers {
    display: flex;
    justify-content: space-between;
  
    &--first-red { 
        .checker:first-child {
            background: red 
        } 
    }
  
    &--all-green {
      .checker {
        background: green;
      }
    }

    &--all-red {
        .checker {
            background: red;
        }
    }

    &--both-yellow {
        .checker:first-child, .checker:nth-child(2) {
            background: yellow; 
        } 
    }

  }
  
  .checker {
    width: 50px;
    height: 20px;
    background: gray;
  }