<div class="form_wrapper">
    <h1>Enter a password</h1>
    <form [formGroup]="form">
        <mat-form-field class="form_field">
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput formControlName="password"> 
        </mat-form-field>
        <div class="checkers" [ngClass]="{'checkers--all-red': allRed, 'checkers--all-green': allGreen, 'checkers--first-red': firstRed, 'checkers--both-yellow': bothYellow}">
            <div class="checker"></div>
            <div class="checker"></div>
            <div class="checker"></div>
          </div>
    </form>
</div>